/* Global */

:root {
    --emsp: 1rem;
    --hemsp: 0.5rem;
}

/* Themes */

.light {
    --bg: #C0F4D6;
    --fg: #010E06;

    --color-primary: #209551;
}

.dark {
    --bg: #010E07;
    --fg: #E5FFF1;

    --color-primary: #139549;
}

@media(prefers-color-scheme: dark) {
    .light.no-js {
        .dark {
          --color-accent:     hsl(18deg  93% 58%);
          --bg: hsl(45deg 100%  4%);
          --color-primary:    hsl(31deg 100% 50%);
          --color-secondary:  hsl(45deg 100%  8%);
          --fg:       hsl(43deg  90% 96%);
        }
    }
}
