.expand {
   padding: 1rem;
}

.menu {
   display: flex;
   transition: 1s background-color cubic-bezier(0.16, 1, 0.3, 1), 250ms color;
}

.menu > :only-child {
   flex-grow: 1;
   text-align: center;
}

.menu-bar {
   box-shadow: 0 -0.75rem 1rem 0;
   container: menu-bar / inline-size;
   display: flex;
   gap: 1rem;
   overflow: hidden;
}

.menu-bar > :first-child {
   flex-grow: 1;
}

.menu-list {
   display: flex;
   text-transform: uppercase;
}

.menu-toggle {
   display: flex;
   appearance: none;
   padding: 0;
   margin: 0;
}

.menu-toggle::after {
   color: var(--color-text);
   content: "\2630";
   cursor: pointer;
   flex-grow: 1;
   font: 600 1rem var(--font-family);
   margin: auto 0;
   padding: 0 1rem
}

.menu-toggle:hover,
.menu:hover {
   background-color: var(--color-secondary);
}

.menu-toggle:active,
.menu:active {
   background-color: var(--color-primary);
   color: var(--color-text-contrast);
}

.menus {
   display: flex;
   overflow-x: auto;
}

@container menu-bar (max-width: 599.9px) {
   .menu-bar:not(:has(.menu-toggle:checked)) .menu {
      display: none;
   }

   .menu-bar:has(.menu-toggle:checked) > :first-child {
      /* display: none; */
   }
}

@container menu-bar (min-width: 600px) {
   .menu-toggle {
      display: none;
   }
}
