:root[data-theme="light"] {
   --color-text: hsl(43, 90%, 4%);
   --color-text-contrast: hsl(43, 90%, 96%);
   --color-background: hsl(45, 100%, 96%);
   --color-primary: hsl(31, 100%, 67%);
   --color-secondary: hsl(44, 100%, 85%);
   --color-accent: hsl(18, 93%, 42%);
}
:root[data-theme="dark"] {
   --color-text: hsl(43, 90%, 96%);
   --color-text-contrast: hsl(43, 90%, 4%);
   --color-background: hsl(45, 100%, 4%);
   --color-primary: hsl(31, 100%, 33%);
   --color-secondary: hsl(44, 100%, 15%);
   --color-accent: hsl(18, 93%, 58%);
}

body {
   background-color: var(--color-background);
   color: var(--color-text);
}
