<!DOCTYPE html>
<html lang="en" class="light">
    <head>
        <meta charset="UTF-8" />

        <title>acodili-jg</title>
        <meta name="description" content="An online portfolio" />
        <meta name="author" content="Jack Gabriel Acodili" />
        <meta name="keywords" content="home" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% include "unstable/stylesheets" %}
    </head>
    <body>
        <!-- Header -->
        {% include "unstable/header" %}

        <main class="full subgrid">
            <!--section id="hero-section" class="full">
                Test
            </section-->

            <section id="hello-world-section" class="full subgrid tx-indent tx-justified">
                <h1 class="content tx-centered">Hello, World!</h1>

                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Id volutpat lacus laoreet non curabitur gravida
                    arcu. Sed risus pretium quam vulputate dignissim suspendisse
                    in est. Cras pulvinar mattis nunc sed blandit libero
                    volutpat sed. Urna id volutpat lacus laoreet non curabitur
                    gravida arcu ac. Tellus orci ac auctor augue mauris augue
                    neque. Mauris sit amet massa vitae. Bibendum arcu vitae
                    elementum curabitur vitae nunc. Et netus et malesuada fames
                    ac turpis egestas sed. Urna condimentum mattis pellentesque
                    id nibh tortor. Convallis tellus id interdum velit laoreet
                    id donec ultrices tincidunt. Magna ac placerat vestibulum
                    lectus mauris ultrices eros. Nec feugiat nisl pretium fusce
                    id velit ut tortor pretium. Dolor sed viverra ipsum nunc
                    aliquet bibendum. Eget duis at tellus at urna. Nunc aliquet
                    bibendum enim facilisis gravida neque convallis.
                </p>
                
                <p class="content">
                    Tortor consequat id porta nibh venenatis. Libero volutpat
                    sed cras ornare arcu dui. Ullamcorper velit sed ullamcorper
                    morbi tincidunt ornare massa eget egestas. Amet justo donec
                    enim diam vulputate. Proin sed libero enim sed faucibus
                    turpis in. Faucibus turpis in eu mi bibendum neque egestas
                    congue quisque. Quis commodo odio aenean sed adipiscing. Non
                    tellus orci ac auctor augue mauris augue. Ornare suspendisse
                    sed nisi lacus sed viverra tellus in hac. Maecenas volutpat
                    blandit aliquam etiam erat velit scelerisque in. Duis
                    tristique sollicitudin nibh sit amet commodo nulla facilisi
                    nullam. Blandit turpis cursus in hac habitasse platea
                    dictumst. Pellentesque diam volutpat commodo sed egestas.
                    Euismod in pellentesque massa placerat duis. Adipiscing elit
                    duis tristique sollicitudin nibh sit amet commodo nulla.
                    Diam maecenas ultricies mi eget mauris pharetra et ultrices
                    neque.
                </p>
                
                <p class="content">
                    Imperdiet massa tincidunt nunc pulvinar sapien et. Mi tempus
                    imperdiet nulla malesuada pellentesque elit eget gravida.
                    Pellentesque diam volutpat commodo sed egestas. Eget nunc
                    scelerisque viverra mauris in aliquam. Purus gravida quis
                    blandit turpis cursus. A condimentum vitae sapien
                    pellentesque habitant. Eget nullam non nisi est sit amet
                    facilisis magna etiam. Blandit aliquam etiam erat velit
                    scelerisque in. Non enim praesent elementum facilisis leo.
                    Mattis pellentesque id nibh tortor id aliquet lectus. Vel
                    orci porta non pulvinar neque laoreet. Mauris ultrices eros
                    in cursus turpis massa tincidunt dui. Turpis massa tincidunt
                    dui ut ornare lectus sit amet. Quam elementum pulvinar etiam
                    non quam lacus. Arcu dui vivamus arcu felis bibendum ut
                    tristique. Ullamcorper morbi tincidunt ornare massa eget
                    egestas purus. Commodo nulla facilisi nullam vehicula ipsum
                    a arcu. Et odio pellentesque diam volutpat commodo sed
                    egestas egestas. Leo vel fringilla est ullamcorper eget
                    nulla facilisi etiam dignissim. Aliquet nec ullamcorper sit
                    amet risus nullam eget felis.
                </p>
                
                <p class="content">
                    Condimentum vitae sapien pellentesque habitant. Et pharetra
                    pharetra massa massa ultricies mi quis hendrerit. Lacus sed
                    viverra tellus in hac habitasse platea. Sed ullamcorper
                    morbi tincidunt ornare massa eget egestas purus. Pulvinar
                    pellentesque habitant morbi tristique senectus et netus et
                    malesuada. Ac orci phasellus egestas tellus rutrum tellus.
                    Risus commodo viverra maecenas accumsan lacus vel. Ultricies
                    integer quis auctor elit sed. Aliquet nec ullamcorper sit
                    amet. Volutpat commodo sed egestas egestas fringilla
                    phasellus faucibus scelerisque. Auctor neque vitae tempus
                    quam pellentesque nec. Eget egestas purus viverra accumsan
                    in nisl nisi. Consectetur purus ut faucibus pulvinar. Massa
                    sapien faucibus et molestie ac feugiat sed. Aliquet bibendum
                    enim facilisis gravida neque convallis.
                </p>
                
                <p class="content">
                    Egestas tellus rutrum tellus pellentesque eu tincidunt
                    tortor. Eu feugiat pretium nibh ipsum consequat nisl vel
                    pretium. Quam id leo in vitae. Lacus vestibulum sed arcu non
                    odio. Blandit volutpat maecenas volutpat blandit aliquam
                    etiam erat velit scelerisque. Ultricies mi eget mauris
                    pharetra et ultrices neque ornare. Ut pharetra sit amet
                    aliquam id. Mi tempus imperdiet nulla malesuada pellentesque
                    elit. A cras semper auctor neque. Orci porta non pulvinar
                    neque laoreet suspendisse interdum consectetur libero. In
                    vitae turpis massa sed elementum tempus. Leo integer
                    malesuada nunc vel risus commodo viverra maecenas. Sed risus
                    ultricies tristique nulla.
                </p>
            </section>
        </main>
    </body>
</html>
